body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6em;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: url('checkmark.png') no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333; /* Define a cor de fundo do rodapé */
    color: white; /* Define a cor do texto do rodapé */
    text-align: center; /* Centraliza o texto no rodapé */
    height: 15px; /* Define a altura do rodapé como 50px */
    width: 100%; /* Define a largura do rodapé para ocupar toda a largura da página */
    position: fixed; /* Fixa o rodapé na parte inferior da página */
    bottom: 0; /* Define o rodapé para ficar na parte inferior da página */
    padding: 0; /* Remove qualquer padding do rodapé */
}
